.myshopcart_container{
    width: 100%;
    height: 100%;
}
.shopcarts_contain{
    width: 90%;
    height: auto;
    margin: 0 auto;
    position: relative;
}
.shopcart_top{
    width: 100%;
    height: 200px;
}
.shopcart_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px;
    border: none;
    background-color: rgb(19, 181, 19);
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
}
.shopcart_btn_p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}
.shopcart_btn:hover{
    color: wheat;
    background-color: black;
}
.shopcart_bottom{
    width: 100%;
}
.shopcart_bottom_img{
    width: 100%;
    height: 200px;
}
.shopcarts_contain_img{
    width: 100%;
}
.myshopcartprops{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.shopcart_carts{
    width: 90%;
    height: 450px;
    font-size: 20px;
    padding: 15px;
    position: absolute;
    top: 0%;
    margin: 0 auto;
}
