.detail_container{
    width: 100%;
    height: auto;
    /* background-color: red; */
}
.detail_img{
    width: 100%;
    height: 200px;
    background: url(../../Assets/Images/contactpanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.detail_title{
    width: 100%;
}
.detail_title p{
    font-size: 17px;
    font-weight: 600;
    margin-left: 80px;
}
.detail_title h2{
    font-size: 38px;
    margin-top: 40px;
    font-weight: 600;
    text-align: center;
}
.detail_contact{
    width: 80%;
    height: auto;
    /* background-color: aquamarine; */
    display: flex;
    margin: 0 auto;
}
.detail_information{
    width: 50%;
    /* background-color: rgb(255, 177, 255); */
}
.detail_information_p{
    font-size: 18px;
    line-height: 35px;
}
.detail_information_p p{
    color: #797979;
}
.detail_PE{
    width: 100%;
    /* background-color: gray; */
    display: flex;
    margin-top: 20px;
}
.detail_pho{
    width: 45%;
    height: 200px;
    margin: 0 auto;
    border: 2px solid #34A853;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    align-items: center;
    border-radius: 5px;
    /* background-color: rgb(245, 165, 165); */
}
.pho_ico{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    border: 2px solid #34A853;
}
.ico_pho{
    position: absolute;
    color: #34A853;
    top: 35%;
    left: 30%;
}
.detail_loc{
    width: 100%;
    height: 200px;
    background-color: #b6ffc0;
    margin-top: 30px;
}
.detail_location{
    width: 95%;
    /* background-color: #797979; */
    margin: 0 auto;
    display: flex;
    gap: 15px;
}
.detail_loico{
    width: 50px;
    height: 50px;
    /* background-color: rgb(152, 188, 219); */
    border-radius: 50%;
    border: 2px solid #34A853;
    position: relative;
}
.detail_loicons{
    color: #34A853;
    position: absolute;
    font-size: 30px;
    top: 20%;
    left: 20%;
}
.details_loc_add{
    width: 90%;
}
.detail_form{
    width: 50%;
    height: 100%;
    background-color: rgb(165, 165, 245);
}
